.social-login {
  margin-top: 20px;
  padding-top: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  .social-github {
    background-color: #24883b;
  }
}

.social-btn {
  all: unset;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  background-color: $red;
  text-align: center;
  cursor: pointer;
  display: block;
}
