extends base

block content
  h4=errorMessage
  form(method="POST")
    input(name="oldPassword", type="password", required, placeholder="Old Password")
    input(name="newPassword1", type="password", required, placeholder="New Password")
    input(name="newPassword2", type="password", required, placeholder="New Password Repeat")
    input(type="submit", value="Update password") 