extends base.pug
include mixins/mix

block content
  div.profile_data
    img(src="/" + user.avatarUrl, alt="")
    h3=user.name 

  div.video_grid
    each video in user.videos
      +mix(video)
    else 
      span.empty_message Sorry nothing found.